[submodule "octos"]
	path = octos
	url = https://github.com/octos-org/octos.git
	branch = mate70-context-20260908
[submodule "aichat"]
	path = aichat
	url = https://github.com/OctoSense-org/makepad.git
	branch = port/appcard-on-octoscript
