[submodule "octos"]
	path = octos
	url = https://github.com/octos-org/octos.git
[submodule "aichat"]
	path = aichat
	url = https://github.com/OctoSense-org/makepad.git
	branch = octos-one-framework
[submodule "makepad"]
	path = makepad
	url = https://github.com/OctoSense-org/makepad.git
	branch = pin/appcard-buildtool-2783fdc5
[submodule "splash"]
	path = splash
	url = https://github.com/OctoSense-org/Octoscript.git
	branch = l0-visualisations
[submodule "splash-makepad"]
	path = splash-makepad
	url = https://github.com/OctoSense-org/Octoscript-Makepad.git
	branch = l0-photo-weight
