[submodule "octos"]
	path = octos
	url = https://github.com/octos-org/octos.git
	branch = mate70-context-20260908
[submodule "aichat"]
	path = aichat
	url = https://github.com/OctoSense-org/makepad.git
	branch = port/appcard-on-octoscript
[submodule "makepad"]
	path = makepad
	url = https://github.com/OctoSense-org/makepad.git
	branch = feat/composer-flicker-fix
[submodule "splash"]
	path = Octoscript
	url = https://github.com/OctoSense-org/Octoscript.git
	branch = main
[submodule "splash-makepad"]
	path = Octoscript-Makepad
	url = https://github.com/OctoSense-org/Octoscript-Makepad.git
	branch = main
